@import '../../style/variables.scss';

.page {
    padding: 50px 3vw;
    background-image: url('../../resources/img/tree.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__title {
        @extend %title;
        text-align: center;
        a {
            padding-right: 10px;
            transition: color 0.3s linear;
            &:hover{
                color: $dim-text;
            }
        }
    }
    &__content{
        max-width: 1200px;
        margin: 50px auto;
        padding: 20px 20px 10px 20px;
        border: 4px dashed $text;
        border-radius: 25px;
        p {
            @extend %main-descr;
            padding-bottom: 10px;
        }
        ol, li {
            list-style-type: decimal;
            @extend %main-descr;
            padding: 10px 10px 10px 20px;
        }
    }
    &__link {
        @extend %main-descr;
        margin: 0 auto;
        padding: 5px 30px;
        max-width: 200px;
        border: 2px dashed $text;
        border-radius: 10px;
        cursor: pointer;
        background-color: inherit;
        transition: background-color 0.3s linear;
        &:hover{
            background-color: $hover;
        }
    }
}